* {
    padding: 0;
    margin: 0;
}

body {
    line-height: 1.7;
    font-weight: 400;
    font-size: 1rem;
    background: #222;
    color: #939393;
}

.bg-body-tertiary {
    background-color: #222 !important;
}
.navbar{
    position: sticky;
    top: 0;
    z-index: 1000;
}
.navbar .container {
    display: flex;
    padding: 20px;
    justify-content: space-between !important;
}

.navbar .container .navbar-collapse {
    flex-grow: 0;
}

.navbar .container .navbar-brand {
    text-transform: uppercase;
    color: #ff8b00;
    font-weight: 900;
    font-size: 18px;
}

.navbar .container .collapse .navbar-nav .nav-link {
    color: white;
}

.navbar .container .collapse .navbar-nav .nav-link.active {
    color: #ff8b00;
}

.navbar .container .navbar-toggler:focus {
    box-shadow: none;
}

.img1 {
    background-image: url(img/hero_2.jpg);
    background-size: cover;
    height: calc(100vh - 196px);
    min-height: 577px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: white;
    position: relative;
}

.img1 h1,
.img2 h1 {
    font-size: 4.5rem;
    font-weight: 500;
    text-transform: uppercase;
}

.innerside {
    padding: 0 300px;

}

button {
    background-color: transparent;
    border: 2px solid white;
    border-radius: 5px;
    padding: 8px 20px;
    color: white;
}

button:hover {
    background-color: white;
    color: black;

}

.img1 .container,
.img2 .container {
    position: absolute;
    z-index: 99;
}

.overlay {
    position: relative;
}

.overlay::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.img2 {
    background-image: url(img/hero_3.jpg);
    background-size: cover;
    height: calc(100vh - 196px);
    min-height: 577px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: white;
    position: relative;
}

.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next {
    font-size: 50px;
    color: rgba(255, 255, 255, 0.4);
    position: absolute;
    top: 30%;
}

.owl-carousel .owl-nav button.owl-prev:hover,
.owl-carousel .owl-nav button.owl-next:hover {
    color: white;
    background-color: transparent;
}

.owl-nav button.owl-prev {
    left: 10px;
}

.owl-nav button.owl-next {
    right: 10px;
}

.owl-theme .owl-dots .owl-dot.active span {
    width: 20px;
    background-color: white;
    /* position: absolute; */
    /* bottom: 8%; */

}

.owl-theme .owl-dots .owl-dot span {
    background-color: rgba(255, 255, 255, 0.4)
        /* position: absolute; */
        /* bottom: 8%;    */
}

.owl-theme .owl-dots {
    margin: -50px 0;
    z-index: 100;
    position: relative;
}


.service-section {
    padding: 7rem 0;
    /* padding: 500px; */
}

.service {
    justify-content: center;
    margin-bottom: 3rem;
}

.service div {
    text-align: center;
}

.service h2 {
    color: #ff8b00;
    text-transform: uppercase;
    font-size: 3rem;
}

.s1 h3 {
    font-size: 1.4rem;
    text-transform: uppercase;
    color: white;
}
.site-section{
    margin-bottom: 7rem;
}

.site-section .row {
    justify-content: center;
}

.site-section h2 {
    text-transform: uppercase;
    color: #ff8b00;
    font-size: 2rem;
    font-weight: 500;
    /* line-height: 1.2; */
}

.site-section .img1 {
    background-image: url(img/img_1.jpg);
    height: 661px;
    width: 555px;
    background-size: cover;
}

.site-section .content {
    padding: 50px 100px;
}

.site-section .img2 {
    background-image: url(img/img_2.jpg);
    height: 661px;
    width: 555px;
    background-size: cover;
}

.site-section li {
    position: relative;
}

.site-section li::before {
    color: #ff8b00;
    left: -30px;
    font-size: 20px;
    top: -.3rem;
    content: "\2713";
    position: absolute;
}


.about-section{
    margin-bottom: 7rem;
}
.about-section .container .video a {
    display: flex;
    justify-content: center;
    text-decoration: none;
}

.about-section .container .video a .img {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    /* margin-bottom: 1rem; */

}

.about-section .container .video a .img .icon i {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.about-section a .img {
    background-image: url("img/hero_2.jpg");
    width: 1110px;
    height: 740px;

}

.about-section .row {
    margin-bottom: 4rem;
    margin-left: 80px;
    margin-right: 80px;

}

.about-section .container .value .col-3 {
    display: flex;
    justify-content: center;
}

.about-section .num {
    position: relative;
}

.about-section .num {
    text-align: center;
    color: rgb(255, 139, 0);
    font-size: 4rem;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

.about-section .num::after {
    position: absolute;
    content: "";
    width: 50px;
    height: 3px;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    background: #939393;
}

.about-section .text {
    color: white;
    text-align: center;
}

.team-section .container {
    text-align: center;
    margin-bottom: 7rem;
}

.team-section .container .m-intro {
    display: flex;
    justify-content: center;
}

.team-section .intro {
    margin-bottom: 5rem;
    width: 700px;
}

.team-section .intro h2 {
    text-transform: uppercase;
    font-size: 4rem;
    color: #ff8b00;
}

.team-section .info {
    background-color: #333;
    border-radius: 10px;
    padding: 30px 0;

}

.team-section .info h3 {
    color: #ff8b00;
    text-transform: uppercase;
    font-size: 20px;
}

.team-section .info p {
    text-transform: uppercase;
}

.team-section img {
    width: 130px;
    height: 130px;
    border-radius: 50%;
}

.team-section i {
    position: relative;
    font-size: 30px;
    /* background-color: white;
    height: 30px;
    border-radius: 5px; */
}

.team-section span {
    position: relative;
}

.team-section .icon span::before {
    position: absolute;
    content: "";
    background-color: white;
    /* margin-right: 50px; */
    width: 25px;
    height: 25px;
    transform: translateY(-5px);
    border-radius: 5px;
    /* transform: translateX(-0.10px); */

}

.team-section .info:hover {
    transform: translateY(-5px);
}


.price-section .container {
    padding: 0 100px;
}

.price-section .content {
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
}

.price-section .content h2 {
    font-size: 3rem;
    color: #ff8b00;
    text-transform: uppercase;
}

.price-section .content .content-block {
    width: 600px;
    text-align: center;
}

.price-section .op .option {
    text-align: center;
    padding: 30px;
    background-color: #333;
}

.price-section .op h3 {
    color: white;
    text-transform: uppercase;
    margin-bottom: 20px;
}

/* 
.price-section .op .option {
    width: 345px;
} */

.price-section .op .option .price {
    margin-bottom: 20px;
    color: #cccccc;
}

.price-section .op .option span {
    color: #ff8b00;
    font-size: 3rem;
}

.price-section .op li {
    list-style: none;
    text-align: start;
    margin-bottom: 20px;
    position: relative;
}

.price-section .op li::before {
    content: "\2713";
    position: absolute;
    color: #ff8b00;
    left: -30px;
}

.price-section .op .option p {
    margin-bottom: 20px;
    /* margin-top: 20px; */
}

.price-section .op .option a {
    text-decoration: none;
    background-color: #545b62;
    border-color: #545b62;
    color: white;
    padding: 8px 20px;
    border-radius: 5px;
}

.price-section .op .option a:hover {
    background-color: #5a6268;
}

.price-section .op .option a.active {
    background-color: #ff8b00;
}

.price-section .question {
    margin: 100px 0;
}

.price-section .question .que-tag h2 {
    text-transform: uppercase;
    color: #ff8b00;
    text-align: center;
    padding: 50px 0;
    font-size: 2rem;
    /* margin-bottom: 20px; */
}

.price-section .row {
    margin-bottom: 7rem;
}


.price-section .row .col-lg-6 h3 {
    text-transform: uppercase;
    color: #ff8b00;
    margin-bottom: 20px;
    font-size: 1.5rem;
}

.price-section .row .col-lg-6 p {
    margin-bottom: 3rem;
}



.test-section .container {
    padding: 0 100px;
    margin-bottom: 10rem;
}

.test-section .container .heading {
    margin-bottom: 50px;
}

.test-section .container .heading h2 {
    color: #ff8b00;
    text-align: center;
    text-transform: uppercase;
    font-size: 3rem;
}

.test-section .container .item {
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.test-section .container .item .par {
    background-color: #333;
    font-style: italic;
    font-size: 18px;
    color: #fff;
    font-family: 'Georgia';
    padding: 10px;
    padding-bottom: 20px;
    padding-top: 20px;
    margin-bottom: 3rem;
    /* width: 300px; */
}

.test-section .container .item h3 {
    color: #000;
    text-transform: uppercase;
    font-size: 20px;
    margin-bottom: 1.5rem;
}

.test-section .container .item img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    align-items: center;
    text-align: center;

}

.test-section .container .item .img {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 1rem;
}

.test-section .owl-theme .owl-dots .owl-dot.active span {
    width: 20px;
    background-color: #ff8b00;
}

.about-section1 {
    margin-top: 5rem;
    margin-bottom: 7rem;
}
.about-section1 .container .heading {
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 3.5rem;
}

.about-section1 .container .heading span {
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: .1em;
    font-weight: bold;
    color: #b8b8b8;
}

.about-section1 .container .heading h2 {
    color: #ff8b00;
    margin-bottom: 0.5rem;
    font-weight: 500;
    font-size: 3rem;
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
}

.about-section1 .container .row .col1 div a .img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.about-section1 .container .row .col1 div h2 {
    text-transform: uppercase;
    color: #ff8b00;
    font-size: 2rem;
    font-weight: 500;
}

.about-section1 .container .row .col1 div .par-1 {
    text-transform: uppercase;
    font-size: small;
}

.about-section1 .container .row .col1 div .par-1 .by {
    text-decoration: none;
    border-bottom: 1px dotted #ccc;
    color: #000;
}

.about-section1 .container .row .col1 div .par-1 .by:hover {
    color: #b36100;
    border-bottom: 1px dotted #ff8b00;
}

.about-section1 .container .row .col1 div p .more {
    color: #ff8b00;
    text-decoration: none;
}
.contact-section{
    margin-bottom: 7rem;
}
.contact-section .container .heading {
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 3.5rem;
}

.contact-section .container .heading span {
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: .1em;
    font-weight: bold;
    color: #b8b8b8;
}

.contact-section .container .heading h2 {
    color: #ff8b00;
    margin-bottom: 0.5rem;
    font-weight: 500;
    font-size: 3rem;
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
}

.contact-section .container .row .col1 {
    margin-bottom: 3rem;
}

.contact-section .container .row .col1 form .row1 {
    margin-bottom: 1rem;
}

.contact-section .container .row .col1 form .row1 .text1 {
    height: 55px;
    border: none;
    background: #333;
    color: #fff;
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}

.contact-section .container .row .col1 form .row1 .textarea {
    columns: 30;
    height: 252px;
}

.contact-section .container .row .col1 form .row1 .button {
    margin-left: auto !important;
}

.contact-section .container .row .col1 form .row1 .button1 {
    background-color: #ff8b00;
    color: #fff;
    display: block;
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
    padding-left: 3rem !important;
    padding-right: 3rem !important;
    border: none;
    border-radius: 2px;
    width: 100%;
}

.contact-section .container .row .col2 {
    margin-left: auto;
}

.contact-section .container .row .col2 h2 {
    text-transform: uppercase;
    color: #ff8b00;
}

.contact-section .container .row .col2 a {
    background-color: #ff8b00;
    color: #fff;
    padding: 10px 8px;
    text-decoration: none;
    border-radius: 5px;
}

.footer-section {
    background-color: #333;
    padding-top: 100px;
}

.footer-section .container .row {
    margin-bottom: 3rem;
}

.footer-section .container .row .col-md-6 .row .col-md-8 h2 {
    text-transform: uppercase;
    color: #fff;
    font-size: large;
    margin-bottom: 2rem;
}

.footer-section .container .row .col-md-6 .row .col-md-8 p {
    color: #fff;
}

.footer-section .container .row .col-md-6 .row .col-md-4 h2 {
    text-transform: uppercase;
    color: #fff;
    font-size: large;
    margin-bottom: 2rem;
}


.footer-section .container .row .col-md-6 .row .col-md-4 ul {
    padding-left: 0;
}

.footer-section .container .row .col-md-6 .row .col-md-4 ul li {
    list-style: none;
    margin-bottom: 10px;
}

.footer-section .container .row .col-md-6 .row .col-md-4 ul li a {
    text-decoration: none;
    color: #939393;
}

.footer-section .container .row .col-md-4 div h2 {
    text-transform: uppercase;
    color: #fff;
    font-size: large;
    margin-bottom: 2rem;
}

.footer-section .container .row .col-md-4 .form-block {
    margin-bottom: 3rem;
}

.footer-section .container .row .col-md-4 .form-block div {
    display: flex;
}

.footer-section .container .row .col-md-4 div input {
    border-radius: 2px 0 0 2px;
    border: 1px solid #939393;
    width: 100%;
    background-color: transparent;
    color: #939393;
    padding-left: 10px;
}

.footer-section .container .row .col-md-4 div input::placeholder {
    color: #939393;
}

.footer-section .container .row .col-md-4 div div button {
    padding: 15px 10px;
    border-radius: 0 2px 2px 0;
    border: none;
    background-color: #ff8b00;
    color: #fff;
}

.footer-section .container .row .col-md-4 {
    margin-left: auto;
}

.footer-section .container .row .col-md-4 h2 {
    text-transform: uppercase;
    color: #fff;
    font-size: large;
    margin-bottom: 2rem;
}

.footer-section .container .row .col-md-12 {
    text-align: center;
    padding: 100px 0;
    color: #fff;
    border-top: 1px solid #939393;
}

.footer-section .container .row .col-md-12 p span {
    color: #939393;
}

@media (max-width: 1400px) {
    .about-section a .img {
        width: 930px;
        height: 620px;
        background-size: cover;

    }

    .about-section .row {
        margin-left: 20px;
        margin-right: 20px;

    }
}


@media (max-width: 992px) {
    .owl-carousel .img1 h1 {
        font-size: 2rem;
    }

    .owl-carousel .img1 {
        height: calc(70vh - 196px);
        min-height: 400px;
    }

    .owl-carousel .img2 h1 {
        font-size: 2rem;
    }

    .owl-carousel .img2 {
        height: calc(70vh - 196px);
        min-height: 400px;

    }

    .owl-carousel .container {
        height: calc(70vh - 196px);
        min-height: 400px;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        color: white;
        position: relative;
    }

    .owl-carousel .innerside {
        padding: 0 100px;
    }

    .owl-carousel .owl-theme .owl-dots {
        margin-top: -30px !important;
        z-index: 100;
        position: relative;
    }
    .about-section a .img {
        width: 510px;
        height: 340px;
        background-size: cover;
    }

    .about-section .num {
        font-size: 2rem;
    }.price-section .container {
        padding: 0;
        margin-bottom: 2rem;
    }

    .price-section .content {
        margin-bottom: 1rem;
    }

    .price-section .question {
        margin: 10px 0;
    }

    .price-section .row {
        padding: 20px;
        margin-bottom: 1rem;
    }.test-section .container {
        padding: 0;
        margin-bottom: 2rem;
    }

    .test-section .content {
        margin-bottom: 1rem;
    }

    .test-section .question {
        margin: 10px 0;
    }

    .test-section .row {
        padding: 20px;
        margin-bottom: 1rem;
    }
}


@media (max-width:768px) {
    .site-section .content {
        padding: 50px 10px;
    }

    .site-section .img1 {
        height: 400px;
        width: 510px;
    }

    .site-section .img2 {
        height: 400px;
        width: 510px;
    }

    .site-section .row {
        padding: 20px;
    }
    .team-section .row {
        padding: 20px;
    }
    .price-section .row {
        padding: 20px;
        margin-bottom: 2rem;
    }
    .price-section .container {
        padding: 0 15px;
    }

    .price-section .question {
        margin: 10px 0;
    }

    .price-section .container {
        margin-bottom: 1rem;
    }

    .price-section .content {
        margin-bottom: 1rem;
    }

    .price-section .row {
        margin-bottom: 1rem;
    }    .test-section .row {
        padding: 20px;
        margin-bottom: 2rem;
    }

    .test-section .container {
        padding: 0;
    }

    .test-section .content {
        margin-bottom: 1rem;
    }

    .test-section .question {
        margin: 10px 0;
    }.test-section .container {
        padding: 0 15px;
    }

    .test-section .question {
        margin: 10px 0;
    }

    .test-section .container {
        margin-bottom: 1rem;
    }

    .test-section .content {
        margin-bottom: 1rem;
    }

    .test-section .row {
        margin-bottom: 1rem;
    }
}


@media (max-width:576px) {
    .site-section .content {
        padding: 50px 10px;
    }

    .site-section .img1 {
        width: 400px;
        height: 345px;
    }

    .site-section .img2 {
        width: 400px;
        height: 345px;
    }

    .site-section .row {
        padding: 20px;
    }
    .about-section a .img {
        width: 510px;
        height: 230px;
        background-size: cover;
    }

    .about-section .num {
        font-size: 2rem;
    }

    .about-section .row {
        margin-left: 10px;
        margin-right: 10px;

    }
}
